@import "tailwindcss";

body {
  background-color: #070707;
  color: #EDE9E1;
  cursor: none;
  overflow-x: hidden;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 1px solid #CAFF4C;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease, background 0.3s ease;
  mix-blend-mode: difference;
}