@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playwrite+NZ+Basic:wght@100..400&family=Pliant:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html,
body,
* {
  cursor: none !important;
}
.Syne {
  font-family: 'Syne', sans-serif;
}

.DM-sans {
  font-family: "DM Sans", sans-serif;
}

.Fira-code {
  font-family: "Fira-code", sans-serif;
}

body {
  background-color: #070707;
  color: #EDE9E1;
  cursor: none;
  overflow-x: hidden;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 1px solid #CAFF4C;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease, background 0.3s ease;
  mix-blend-mode: difference;
}

.text-acid {
  --tw-text-opacity: 1;
  color: rgb(202 255 76 / var(--tw-text-opacity, 1));
}

.bg-background\/80 {
  background-color: rgb(7 7 7 / 0.8);
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.border-hairline-border {
    border-color: rgba(237, 233, 225, 0.07);
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.animate-pulse-dot {
    animation: pulse-dot 2s infinite ease-in-out;
}